@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .truncate-ml {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

::-moz-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-moz-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

::-ms-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-ms-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

::scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}
